<footer>
  <div id="container-footer">
    <p><a id="linkFooter" href="https://www.linkedin.com/in/felipe-santana-107486201/" target="_blank">&copy; 2022 - Felipe Santana</a></p>
  </div>
  </footer>

</div>

</body>

</html>