<%- include("_header") -%>

<h1 id="title-categorias">Lista das Categorias</h1>

<p id="p-categorias">Aqui estarão a lista de todas as categorias criadas!</p>

<ul id="relacao-categorias">

  <% for (const categories of model) { %>
    <li id="list-categorias">
      <a id="links-categorias" href="/categories/:id"><%= categories.nome%></a>
    </li>
  <% } %>

</ul>

<%- include("_footer") -%>