<%- include("_header") -%>

<h1 id="title-tags">Lista das Tags</h1>

<p id="p-tags">Aqui estarão a lista de todas as tags criadas!</p>

<ul id="relacao-tags">

  <% for (const tags of model) { %>
    <li id="list-tags">
      <a id="links-tags" href="#"><%= tags.nome%></a>
    </li>
  <% } %>

</ul>

<%- include("_footer") -%>